<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Products</title>

    <link rel="stylesheet" type="text/css" href="/products.css" />
  </head>

  <body>
    <header id="top">
      <nav class="nav">
        <ul>
          <li><a href="#">Cart</a></li>
          <li><a href="#">My Account</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
        <img src="files/admin.jpeg" name="pic" id="pic" alt="Profile picture" />
        <h1><%=nameDisplay%></h1>
      </nav>

      <h2>
        <marquee direction="left"
          >CHECKOUT EXCITING DEALS AT EXCITING PRIZES!!😮</marquee
        >
      </h2>
    </header>

      <script src="/dashboard.js"></script>
  </body>
</html>
