<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Products</title>

    <link rel="stylesheet" type="text/css" href="/products.css" />
  </head>

  <body>
    <header id="top">
      <nav class="nav">
        <ul>
          <li><a href="#">Cart</a></li>
          <li><a href="#">My Account</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
        <img src="files/admin.jpeg" name="pic" id="pic" alt="Profile picture" />
        <h1><%=nameDisplay%></h1>
      </nav>

      <h2>
        <marquee direction="left"
          >CHECKOUT EXCITING DEALS AT EXCITING PRIZES!!😮</marquee
        >
      </h2>
    </header>

    <main>
      <div id="my_div">
        <div class="container">
          <img
            src="http://cdn.shopify.com/s/files/1/0052/5733/0786/products/unicorn_water_bottle_600x.jpg?v=1615188044"
            class="main_image"
          />
          <a href="product.html">View More →</a>
        </div>

        <div class="container">
          <img
            src="https://i.pinimg.com/200x/56/30/95/56309583c78aee5ea1120d5bb6b13708.jpg"
          />
          <a href="product.html">View More →</a>
        </div>

        <div class="container">
          <img
            src="https://5.imimg.com/data5/ANDROID/Default/2021/1/LK/AG/RD/45581737/img-20210113-wa0060-jpg-500x500.jpg"
          />
          <a href="product.html">View More →</a>
        </div>

        <div class="container">
          <img
            src="https://5.imimg.com/data5/ANDROID/Default/2021/1/LK/AG/RD/45581737/img-20210113-wa0060-jpg-500x500.jpg"
          />
          <a href="product.html">View More →</a>
        </div>

        <div class="container">
          <img
            src="https://i.pinimg.com/236x/71/f7/86/71f786ba56a63e2ae407563cc689385a--conceptual-photography-amazing-photography.jpg"
          />
          <a href="product.html">View More →</a>
        </div>

        <div class="container">
          <img
            src="https://www.lecritoireparis.com/700-large_default/rose-flower-wax-seal-stamp.jpg"
          />
          <a href="product.html">View More →</a>
        </div>

        <div class="container">
          <img
            src="http://cdn.shopify.com/s/files/1/0052/5733/0786/products/unicorn_water_bottle_600x.jpg?v=1615188044"
          />
          <a href="product.html">View More →</a>
        </div>

        <div class="container">
          <img
            src="https://i.pinimg.com/200x/56/30/95/56309583c78aee5ea1120d5bb6b13708.jpg"
          />
          <a href="product.html">View More →</a>
        </div>

        <div class="container">
          <img
            src="https://5.imimg.com/data5/ANDROID/Default/2021/1/LK/AG/RD/45581737/img-20210113-wa0060-jpg-500x500.jpg"
          />
          <a href="product.html">View More →</a>
        </div>

        <div class="container">
          <img
            src="https://5.imimg.com/data5/ANDROID/Default/2021/1/LK/AG/RD/45581737/img-20210113-wa0060-jpg-500x500.jpg"
          />
          <a href="product.html">View More →</a>
        </div>

        <div class="container">
          <img
            src="https://i.pinimg.com/236x/71/f7/86/71f786ba56a63e2ae407563cc689385a--conceptual-photography-amazing-photography.jpg"
          />
          <a href="product.html">View More →</a>
        </div>

        <div class="container">
          <img
            src="https://www.lecritoireparis.com/700-large_default/rose-flower-wax-seal-stamp.jpg"
          />
          <a href="product.html">View More →</a>
        </div>

        <div class="container">
          <img
            src="http://cdn.shopify.com/s/files/1/0052/5733/0786/products/unicorn_water_bottle_600x.jpg?v=1615188044"
          />
          <a href="product.html">View More →</a>
        </div>

        <div class="container">
          <img
            src="https://i.pinimg.com/200x/56/30/95/56309583c78aee5ea1120d5bb6b13708.jpg"
          />
          <a href="product.html">View More →</a>
        </div>

        <div class="container">
          <img
            src="https://5.imimg.com/data5/ANDROID/Default/2021/1/LK/AG/RD/45581737/img-20210113-wa0060-jpg-500x500.jpg"
          />
          <a href="product.html">View More →</a>
        </div>

        <div class="container">
          <img
            src="https://5.imimg.com/data5/ANDROID/Default/2021/1/LK/AG/RD/45581737/img-20210113-wa0060-jpg-500x500.jpg"
          />
          <a href="product.html">View More →</a>
        </div>

        <div class="container">
          <img
            src="https://i.pinimg.com/236x/71/f7/86/71f786ba56a63e2ae407563cc689385a--conceptual-photography-amazing-photography.jpg"
          />
          <a href="product.html">View More →</a>
        </div>

        <div class="container">
          <img
            src="https://www.lecritoireparis.com/700-large_default/rose-flower-wax-seal-stamp.jpg"
          />
          <a href="product.html">View More →</a>
        </div>

        <div class="container">
          <img
            src="http://cdn.shopify.com/s/files/1/0052/5733/0786/products/unicorn_water_bottle_600x.jpg?v=1615188044"
          />
          <a href="product.html">View More →</a>
        </div>

        <div class="container">
          <img
            src="https://i.pinimg.com/200x/56/30/95/56309583c78aee5ea1120d5bb6b13708.jpg"
          />
          <a href="product.html">View More →</a>
        </div>

        <div class="container">
          <img
            src="https://5.imimg.com/data5/ANDROID/Default/2021/1/LK/AG/RD/45581737/img-20210113-wa0060-jpg-500x500.jpg"
          />
          <a href="product.html">View More →</a>
        </div>

        <div class="container">
          <img
            src="https://5.imimg.com/data5/ANDROID/Default/2021/1/LK/AG/RD/45581737/img-20210113-wa0060-jpg-500x500.jpg"
          />
          <a href="product.html">View More →</a>
        </div>

        <div class="container">
          <img
            src="https://i.pinimg.com/236x/71/f7/86/71f786ba56a63e2ae407563cc689385a--conceptual-photography-amazing-photography.jpg"
          />
          <a href="product.html">View More →</a>
        </div>

        <div class="container">
          <img
            src="https://www.lecritoireparis.com/700-large_default/rose-flower-wax-seal-stamp.jpg"
          />
          <a href="product.html">View More →</a>
        </div>

        <div class="container">
          <img
            src="http://cdn.shopify.com/s/files/1/0052/5733/0786/products/unicorn_water_bottle_600x.jpg?v=1615188044"
          />
          <a href="product.html">View More →</a>
        </div>

        <div class="container">
          <img
            src="https://i.pinimg.com/200x/56/30/95/56309583c78aee5ea1120d5bb6b13708.jpg"
          />
          <a href="product.html">View More →</a>
        </div>

        <div class="container">
          <img
            src="https://5.imimg.com/data5/ANDROID/Default/2021/1/LK/AG/RD/45581737/img-20210113-wa0060-jpg-500x500.jpg"
          />
          <a href="product.html">View More →</a>
        </div>

        <div class="container">
          <img
            src="https://5.imimg.com/data5/ANDROID/Default/2021/1/LK/AG/RD/45581737/img-20210113-wa0060-jpg-500x500.jpg"
          />
          <a href="product.html">View More →</a>
        </div>

        <div class="container">
          <img
            src="https://i.pinimg.com/236x/71/f7/86/71f786ba56a63e2ae407563cc689385a--conceptual-photography-amazing-photography.jpg"
          />
          <a href="product.html">View More →</a>
        </div>

        <div class="container">
          <img
            src="https://www.lecritoireparis.com/700-large_default/rose-flower-wax-seal-stamp.jpg"
          />
          <a href="product.html">View More →</a>
        </div>

        <div class="container">
          <img
            src="https://www.lecritoireparis.com/700-large_default/rose-flower-wax-seal-stamp.jpg"
          />
          <a href="product.html">View More →</a>
        </div>

        <div class="container">
          <img
            src="http://cdn.shopify.com/s/files/1/0052/5733/0786/products/unicorn_water_bottle_600x.jpg?v=1615188044"
          />
          <a href="product.html">View More →</a>
        </div>

        <div class="container">
          <img
            src="https://i.pinimg.com/200x/56/30/95/56309583c78aee5ea1120d5bb6b13708.jpg"
          />
          <a href="product.html">View More →</a>
        </div>

        <div class="container">
          <img
            src="https://5.imimg.com/data5/ANDROID/Default/2021/1/LK/AG/RD/45581737/img-20210113-wa0060-jpg-500x500.jpg"
          />
          <a href="product.html">View More →</a>
        </div>

        <div class="container">
          <img
            src="https://5.imimg.com/data5/ANDROID/Default/2021/1/LK/AG/RD/45581737/img-20210113-wa0060-jpg-500x500.jpg"
          />
          <a href="product.html">View More →</a>
        </div>
      </div>
    </main>

    <footer>
      <p><a href="#top">⬆️</a></p>
    </footer>
  </body>
</html>
